
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/materialize.min.css" />
    <link rel="stylesheet" href="~/Content/custom.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/sammy-0.7.5.min.js"></script>
</head>
<body>

    @*<section id="login" data-src='@Url.Content("~/wwwroot/pages/login.htm")'></section>*@
    <section id="login" class="row">
        <div class="col s12 m4 offset-m4 l4 offset-l4 xl4 offset-xl4">
            <div class="card grey lighten-2">
                <div class="card-content">
                    <span class="card-title">Вход</span>
                    <div class="row">
                        <form id="login-form" data-bind="submit: LoginClick">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="" id="UserLogin" name="login" type="text" class="validate">
                                    <label class="active" for="UserLogin">Логин</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="" id="UserPassword" name="password" type="password" class="validate">
                                    <label class="active" for="UserPassword">Пароль</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label class="active"></label>
                                </div>
                            </div>
                            <div class="row">
                                <button class="col s12 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 waves-effect waves-light btn"                                        
                                        type="submit">
                                    Вход
                                </button>
                            </div>
                            <div class="row">
                                <button class="col s12 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 waves-effect waves-light btn"                                        
                                        data-bind="click: ShowRegistrationClick">
                                    Регистрация
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>                 
    </section>
    <section id="register" class="row">
        <div class="col s12 m4 offset-m4 l4 offset-l4 xl4 offset-xl4">
            <div class="card grey lighten-2">
                <div class="card-content">
                    <span class="card-title">Регистрация</span>
                    <div class="row">
                        <form id="register-form" data-bind="submit: RegisterClick">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="" id="RegUserLogin" type="text" class="validate">
                                    <label class="active" for="RegUserLogin">Логин*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="" id="RegUserPassword" type="password" class="validate">
                                    <label class="active" for="RegUserPassword">Пароль*</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="" id="RegUserSurname" type="text" class="validate">
                                    <label class="active" for="RegUserSurname">Фамилия</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="" id="RegUserName" type="text" class="validate">
                                    <label class="active" for="RegUserName">Имя</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input value="" id="RegUserPatronymic" type="text" class="validate">
                                    <label class="active" for="RegUserPatronymic">Отчество</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label class="active">* - поля, обязательные для заполнения</label>
                                </div>
                            </div>                            
                            <div class="row">                                
                                <button class="col s12 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 waves-effect waves-light btn"
                                        type="submit">
                                    Регистрация
                                </button>
                            </div>                            
                            <div class="row">
                                <button class="col s12 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 waves-effect waves-light btn"
                                        data-bind="click: CancelRegistrationClick">
                                    Отмена
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        function NewSection(name, data) {
            self.sectionName = name;
            self.sectionData = data;
            return self;
        }

        function AAM_ViewModel() {
            self.sections = [];
            self.chosenSection = ko.observable();

            self.changeSection = function (section) {
                //let indx = sections.indexOf(section);
                //if (indx !== -1) {
                //    $("#" + selections[indx].name).html(selections[indx].)
                //}
            }
            // section login
            self.LoginClick = function (formElement) {
                console.log($(formElement).serialize());
            }
            self.ShowRegistrationClick = function () {
                $("#login").removeClass("active");
                $("#register").addClass("active");
            }
            // section register
            self.RegisterClick = function () {

            }
            self.CancelRegistrationClick = function () {
                $("#register").removeClass("active");
                $("#login").addClass("active");
            }
            
        }
        ko.applyBindings(new AAM_ViewModel());
        $("#login").addClass("active");
    </script>
</body>
</html>
