
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/sammy-0.7.5.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/materialize.min.css" />
    <link rel="stylesheet" href="~/Content/custom.css" />
</head>
<body>
    @*заголовок и главное меню*@
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-med-and-down"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo">AMM</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#!login" data-bind="visible: navbar.login">Вход</a></li>
                <li><a href="#!register" data-bind="visible: navbar.register">Регистрация</a></li>
                <li><a href="#!add_source" data-bind="visible: navbar.addSource">Кошельки и карты</a></li>
                <li><a href="#!manage_income_waste" data-bind="visible: navbar.incomeWaste">Категории</a></li>
                <li><a href="#!transactions" data-bind="visible: navbar.transactions">Транзакции</a></li>
                <li><a href="#!user" data-bind="visible: navbar.user">Пользователь</a></li>
                <li><a href="#!add_family" data-bind="visible: navbar.addFamily">Семья</a></li>
                <li><a href="#!manage_family" data-bind="visible: navbar.manageFamily">Семья</a></li>
                <li><a href="#!logout" data-bind="visible: navbar.logout, text: navbar.logoutText"></a></li>
            </ul>
        </div>
    </nav>
    @*боковое меню*@
    <ul id="slide-out" class="sidenav">
        <li><a href="#" class="red lighten-2 white-text">AMM</a></li>
        <li><a class="waves-effect sidenav-close" href="#!login" data-bind="visible: navbar.login">Вход</a></li>
        <li><a class="waves-effect sidenav-close" href="#!register" data-bind="visible: navbar.register">Регистрация</a></li>
        <li><a class="waves-effect sidenav-close" href="#!add_source" data-bind="visible: navbar.addSource">Кошельки и карты</a></li>
        <li><a class="waves-effect sidenav-close" href="#!manage_income_waste" data-bind="visible: navbar.incomeWaste">Категории</a></li>
        <li><a class="waves-effect sidenav-close" href="#!transactions" data-bind="visible: navbar.transactions">Транзакции</a></li>
        <li><a class="waves-effect sidenav-close" href="#!user" data-bind="visible: navbar.user">Пользователь</a></li>
        <li><a class="waves-effect sidenav-close" href="#!add_family" data-bind="visible: navbar.addFamily">Семья</a></li>
        <li><a class="waves-effect sidenav-close" href="#!manage_family" data-bind="visible: navbar.manageFamily">Семья</a></li>
        <li><a class="waves-effect sidenav-close" href="#!logout" data-bind="visible: navbar.logout, text: navbar.logoutText"></a></li>
    </ul>
    @*индикатор выполнения длительного процесса*@
    <div class="progress" data-bind="visible: showPreloader">
        <div class="indeterminate"></div>
    </div>
    @*набор секций главного окна*@
    <section id="login" data-bind="visible: show['login']" class="row"></section>
    <section id="register" data-bind="visible: show['register']" class="row"></section>
    <section id="main" data-bind="visible: show['main']" class="row"></section>
    <section id="add_trans" data-bind="visible: show['add_trans']" class="row"></section>
    <section id="add_source" data-bind="visible: show['add_source']" class="row"></section>
    <section id="manage_income_waste" data-bind="visible: show['manage_income_waste']" class="row"></section>
    <section id="transactions" data-bind="visible: show['transactions']" class="row"></section>
    <section id="user" data-bind="visible: show['user']" class="row"></section>
    <section id="add_family" data-bind="visible: show['add_family']" class="row"></section>
    <section id="manage_family" data-bind="visible: show['manage_family']" class="row"></section>
    @*основной скрипт*@
    <script src="~/Scripts/global.js"></script>
    <script>
        // объекты событий изменения состояния видимости отдельных секций
        let mainVisibleEvent = new Event("MainVisible");                // нлавный вид
        let manageIncomeWasteEvent = new Event("IncomeWasteVisible");   // управление категориями поступлений/расходов
        let addSourceEvent = new Event("AddSourceVisible");             // управление кошельками и картами 
        let addTransactionEvent = new Event("AddTransactionVisible");   // добавление транзакций
        let userEvent = new Event("UserVisible");                       // управление пользователем
        // объект основного вида
        let AMM_ViewModel = {
            // свойства
            show: {
                login: ko.observable(false),
                register: ko.observable(false),
                main: ko.observable(false),
                add_trans: ko.observable(false),
                add_source: ko.observable(false),
                manage_income_waste: ko.observable(false),
                transactions: ko.observable(false),
                user: ko.observable(false),
                add_family: ko.observable(false),
                manage_family: ko.observable(false)
            },
            navbar: {
                login: ko.observable(true),
                register: ko.observable(true),
                logout: ko.observable(false),
                incomeWaste: ko.observable(false),
                addSource: ko.observable(false),
                transactions: ko.observable(false),
                user: ko.observable(false),
                addFamily: ko.observable(false),
                manageFamily: ko.observable(false),
                logoutText: ko.observable("")
            },
            showPreloader: ko.observable(false),
            // методы
            // скрыть все секции
            HideAll: function () {
                for (var i in this.show) {
                    this.show[i](false);
                }
            },
            // загрузить или отобразить секцию
            ShowChunck: function (_chunck) {
                this.HideAll();
                this.showPreloader(true);
                let $page = $(document.body).find("section#" + _chunck);
                if ($page.find(">:first-child").length == 0) {
                    $.ajax({
                        url: "api/chunck",
                        data: { Chunck: _chunck },
                        type: 'GET'
                    }).done(function (html) {
                        if (html) {
                            AMM_ViewModel.showPreloader(false);
                            $page.html(html);
                            AMM_ViewModel.show[_chunck](true);
                        }
                    }).fail(function (xhr, status, text) {
                        AMM_ViewModel.showPreloader(false);
                        alert("error: " + text);
                    });
                } else {
                    this.showPreloader(false);
                    this.show[_chunck](true);
                }
            },
            // изменение интерфейса при входе пользователя в систему
            SetLogin: function (_name) {
                this.navbar.login(false);
                this.navbar.register(false);
                this.navbar.logoutText("Выход (" + _name + ")");
                this.navbar.logout(true);
                this.navbar.incomeWaste(true);
                this.navbar.addSource(true);
                this.navbar.transactions(true);
                this.navbar.user(true);
                //if (isFamily) {
                //    this.navbar.manageFamily(true);
                //}
                //else {
                //    this.navbar.addFamily(true);
                //}
            },
            // изменение интерфейса при выходе пользователя из системы
            SetLogout: function () {
                this.navbar.login(true);
                this.navbar.register(true);
                this.navbar.logoutText("");
                this.navbar.logout(false);
                this.navbar.incomeWaste(false);
                this.navbar.addSource(false);
                this.navbar.transactions(false);
                this.navbar.user(false);
                //this.navbar.addFamily(false);
                //this.navbar.manageFamily(false);
            }
        }
        // генерируется событие того, что раздел main изменил свою видимость
        AMM_ViewModel.show.main.subscribe(function (newValue) {
            if (newValue) {
                document.dispatchEvent(mainVisibleEvent);
            }
        });
        // генерируется событие того, что раздел manage_income_waste изменил свою видимость
        AMM_ViewModel.show.manage_income_waste.subscribe(function (newValue) {
            if (newValue) {
                document.dispatchEvent(manageIncomeWasteEvent);
            }
        });
        // генерируется событие того, что раздел add_source изменил свою видимость
        AMM_ViewModel.show.add_source.subscribe(function (newValue) {
            if (newValue) {
                document.dispatchEvent(addSourceEvent);
            }
        });
        // генерируется событие того, что раздел add_trans изменил свою видимость
        AMM_ViewModel.show.add_trans.subscribe(function (newValue) {
            if (newValue) {
                document.dispatchEvent(addTransactionEvent);
            }
        });
        // генерируется событие того, что раздел user изменил свою видимость
        AMM_ViewModel.show.user.subscribe(function (newValue) {
            if (newValue) {
                document.dispatchEvent(userEvent);
            }
        });

        ko.applyBindings(AMM_ViewModel);
        // маршрутизация
        Sammy(function () {
            this.get('#!logout', function () {
                AMM_ViewModel.showPreloader(true);
                $.ajax({
                    url: "api/logout",
                    type: 'POST'
                }).done(function (resp) {
                    if (resp.error !== null && resp.error !== "") {
                        AMM_ViewModel.showPreloader(false);
                        alert(resp.error);
                    }
                    else {
                        AMM_ViewModel.showPreloader(false);
                        isLogin = false;
                        userLogin = "";
                        AMM_ViewModel.SetLogout();
                        location.hash = "#!login";
                    }
                }).fail(function (xhr, status, text) {
                    AMM_ViewModel.showPreloader(false);
                    alert("error: " + text);
                });
            });
            this.get('#!:chunck', function () {
                AMM_ViewModel.HideAll();
                AMM_ViewModel.ShowChunck(this.params['chunck']);
            });
        }).run();
        // активация бокового меню
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        // проверка, есть ли на сервере активная пользовательская сессия
        AMM_ViewModel.showPreloader(true);
        $.get("api/login/checkout")
            .done(function (resp) {
                console.log(resp);
                AMM_ViewModel.showPreloader(false);
                if (resp !== null) {
                    AMM_ViewModel.SetLogin(resp);
                    location.hash = "#!main";
                }
                else {
                    location.hash = "#!login";
                }
            })
            .fail(function (xhr, status, text) {
                AMM_ViewModel.showPreloader(false);
                alert("error: " + text);
            });
    </script>
</body>
</html>
