
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/materialize.min.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"</script>
    <script src="~/Scripts/knockout-3.4.2.js"</script>
    <script src="~/Scripts/materialize.min.js"></script>
</head>
<body>
    
    <section id="login" data-src='@Url.Content("~/wwwroot/pages/login.htm")'></section>
   

    
</body>
</html>
