
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/materialize.min.css" />
    <link rel="stylesheet" href="~/Content/custom.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/sammy-0.7.5.min.js"></script>
</head>
<body>
    <div class="preloader-wrapper big active" data-bind="visible: showPreloader">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>

    <section id="login" data-bind="visible: show['login']" class="row">    
    </section>
    <section id="register" data-bind="visible: show['register']" class="row">    
    </section>
    <section id="main" data-bind="visible: show['main']">        
    </section>


    <script>
        let AMM_ViewModel = {
            show: {
                login: ko.observable(false),
                register: ko.observable(false),
                main: ko.observable(false)
            },
            showPreloader: ko.observable(false),
            
            HideAll: function () {                
                for (var i in this.show) {
                    this.show[i](false);
                }
            },
            ShowChunck: function (_chunck) {
                AMM_ViewModel.HideAll();
                AMM_ViewModel.showPreloader(true);
                let $page = $(document.body).find("section#" + _chunck);
                if ($page.find(">:first-child").length == 0) {
                    $.ajax({
                        url: "api/chunck",
                        data: { Chunck: _chunck },
                        type: 'GET'
                    }).done(function (html) {
                        if (html) {                            
                            AMM_ViewModel.showPreloader(false);
                            $page.html(html);                            
                            AMM_ViewModel.show[_chunck](true);
                        }                        
                    }).fail(function (xhr, status, text) {
                        AMM_ViewModel.showPreloader(false);
                        alert("error: " + text);
                    });
                } else {                    
                    AMM_ViewModel.showPreloader(false);
                    AMM_ViewModel.show[_chunck](true);
                }
                    
            }
        }
                
        ko.applyBindings(AMM_ViewModel);
        
        location.hash = "#!login";

        Sammy(function () {            
            this.get('#!:chunck', function () {
                AMM_ViewModel.HideAll();
                AMM_ViewModel.ShowChunck(this.params['chunck']);                
            });            
        }).run();        
    </script>
</body>
</html>
